@model ToDo.Models.Project

<section class="modal-content">
    <div class="h4 text-center form-title">
        DELETE PROJECT
        <a class="form-title-closelink bi bi-x-square" href="#" data-bs-dismiss="modal"></a>
    </div>
    <div class="px-4 pt-2 pb-4 form-main">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Type)
            </dd>
        </dl>

        <form method=post asp-action="Delete" asp-controller="Projects" id="delete-project-form" class="d-flex justify-content-center align-items-center mt-4">
            <input type="hidden" asp-for="Id" />
            <input class="btn btn-danger me-1" type="submit" value="Delete" />
            <a class="btn btn-secondary ms-1" href="#" data-bs-dismiss="modal">Cancel</a>
        </form>
    </div>
</section>