@model ToDo.Models.Project

<form method="post" asp-action="Edit" asp-controller="Projects" id="edit-project-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" hidden />
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Name" class="control-label"></label>
        </div>
        <div class="col-md-5 form-group">
            <input value="@Model.Name" class="form-control" autocomplete="off" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-5 form-group">
            <input asp-for="Name" class="form-control" autocomplete="off" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row additional-info info-hide">
        <div class="col-md-2">
            <label asp-for="CreatedDate" class="control-label"></label>
        </div>
        <div class="col-md-5 form-group">
            <input value="@Model.CreatedDate" class="form-control" autocomplete="off" disabled />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="col-md-5 form-group">
            <input asp-for="CreatedDate" class="form-control" autocomplete="off" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row additional-info info-hide">
        <div class="col-md-2">
            <label asp-for="Type" class="control-label"></label>
        </div>
        <div class="col-md-5 form-group">
            <input value="@Model.Type" class="form-control" disabled />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="col-md-5 form-group">
            <select asp-for="Type" class="form-control" asp-items="@Html.GetEnumSelectList<Enums.TypeOfProject>()"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Description" class="control-label"></label>
        </div>
        <div class="col-md-5 form-group">
            <textarea class="form-control textarea-description" autocomplete="off" disabled>@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-md-5 form-group">
            <textarea asp-for="Description" class="form-control textarea-description" autocomplete="off"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row additional-info info-hide">
        <div class="col-md-2">
            <label asp-for="ImagesPath" class="control-label"></label>
        </div>
        <div class="col-md-5 form-group">
            <input value="@Model.ImagesPath" class="form-control" disabled />
            <span asp-validation-for="ImagesPath" class="text-danger"></span>
        </div>
        <div class="col-md-5 form-group">
            <input asp-for="ImagesPath" class="form-control" autocomplete="off" />
            <span asp-validation-for="ImagesPath" class="text-danger"></span>
        </div>
    </div>
    <div class="row additional-info info-hide">
        <div class="col-md-2">
            <label asp-for="isHidden" class="control-label"></label>
        </div>
        <div class="col-md-5 form-group">
            @if (Model.isHidden)
            {
                <input type="checkbox" checked="checked" class="form-check" disabled />
            }
            else
            {
                <input type="checkbox" class="form-check" disabled />
            }
            <span asp-validation-for="isHidden" class="text-danger"></span>
        </div>
        <div class="col-md-5 form-group">
            <input asp-for="isHidden" class="form-check" autocomplete="off" />
            <span asp-validation-for="isHidden" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-2 justify-content-end">
        <div class="col-md-1">
            <input type="submit" value="Save" class="btn btn-primary" disabled id="edit-project-savebtn" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
