@model ToDo.Models.Project

<section class="modal-content">
    <div class="form-title">
        <p class="h4 text-center">DELETE PROJECT</p>
        <a class="form-title-closelink bi bi-x-square" href="#" data-bs-dismiss="modal"></a>
    </div>
    <div class="px-4 pb-2 pt-3 form-main">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Type)
            </dd>
        </dl>

        <form asp-action="Delete" asp-controller="Projects">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a href="#" class="block btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
            </div>
        </form>
    </div>
</section>