@model IEnumerable<ToDo.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Number</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgrammingLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (index, project) in Model.Select((i, p) => (p, i)))
        {
            <tr>
                <td>@(index + 1)</td>
                <td>
                    @Html.DisplayFor(modelItem => project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.ProgrammingLanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@project.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@project.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@project.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
