@model ToDo.Models.Project

<form class="edit-project-form" method="post" id="edit-project-form" asp-page-handler="EditProject">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Id" disabled />
    <div class="row">
        <div class="col-md-4 row form-group">
            <div class="col-md-4">
                <label asp-for="@Model.Name" class="control-label"></label>
            </div>
            <div class="col-md-8">
                <input asp-for="@Model.Name" class="form-control" autocomplete="off" disabled />
            </div>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="col-md-4 row form-group">
            <div class="col-md-4">
                <label asp-for="@Model.CreatedDate" class="control-label"></label>
            </div>
            <div class="col-md-8 pe-0">
                <input asp-for="@Model.CreatedDate" class="form-control" autocomplete="off" disabled />
            </div>
            <span asp-validation-for="@Model.CreatedDate" class="text-danger"></span>
        </div>
        <div class="col-md-4 row form-group">
            <div class="col-md-4">
                <label asp-for="@Model.Type" class="control-label"></label>
            </div>
            <div class="col-md-8 pe-0">
                <select asp-for="@Model.Type" class="form-control" asp-items="@Html.GetEnumSelectList<Type>()" disabled></select>
            </div>
            <span asp-validation-for="@Model.Type" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12 form-group px-2">
        <textarea asp-for="@Model.Description" class="form-control" autocomplete="off" disabled style="height: 60px; min-height: 60px; max-height: 60px;"></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="col-md-12 form-group">
        @foreach (var image in Model.Images)
        {
            <img src="~/images/projects/@Model.Name.ToLower()/@image" style="height: 50px; width: 50px;" asp-append-version="true" />
        }
    </div>
    <div class="col-md-12 px-2 d-flex justify-content-end">
        <input type="submit" value="Save" class="btn btn-primary" disabled />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
